In [1]:
y = 5

In [2]:
y

5

In [3]:
if True:
    print('hallo')
    print('statement 2')

hallo
statement 2

In [4]:
angka = 20

if angka > 10:
    print('nilai diatas 10')

nilai diatas 10

In [14]:
angka = 10

if angka > 10:
    print(f'nilai {angka} diatas 10')
elif angka == 10:
    print(f'nilai {angka} sama dengan 10')
else:
    print(f'nilai {angka} di bawah 10')

nilai 10 sama dengan 10

In [15]:
angka = 15

if angka > 10:
    print(f'nilai {angka} diatas 10')
if angka == 10:
    print(f'nilai {angka} sama dengan 10')
else:
    print(f'nilai {angka} di bawah 10')

nilai 15 diatas 10
nilai 15 di bawah 10

In [22]:
nilai = 75

if nilai >= 80 and nilai <= 100:
    print('A')
elif nilai >=70:
    print('B')
elif nilai >=60:
    print('C')
elif nilai >= 50:
    print('D')
elif nilai >= 40 and nilai >= 0:
    print('E')

B

In [26]:
nilai = 75

if 0 <= nilai <= 100:
    if nilai >= 80:
        print('A')
    elif nilai >=70:
        print('B')
    elif nilai >=60:
        print('C')
    elif nilai >= 40:
        print('D')
    else:
        print('E')
else:
    print('nilai diluar batas')

B

In [27]:
cities = ['Malang', 'Banjarmasin', 'Depok', 'Yogyakarta']

city = 'Jakarta'

if city in cities:
    print(f'{city} terdapat dalam list cities')
else:
    print(f'{city} tidak terdapat dalam list cities')

# LOOP

In [31]:
# While loop

i = 0

while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [33]:
i = 0

while i <= 10:
    print(f'5 x {i} = {5 * i}')
    i = i + 1

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [35]:
i = 1
j = 1

while i <= 10:
    print(f'perkalian {i}')
    while j <= 10:
        print(f'{i} x {j} = {i * j}')
        j = j + 1
    print('-' * 10)
    i = i + 1
    j = 1

perkalian 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
perkalian 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
perkalian 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
perkalian 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
perkalian 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
perkalian 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
perkalian 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
perkalian 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
perkalian 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
perkalian 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [36]:
# for loops

cities = cities + ['Bandung', 'Palembang', 'Balik Papan']
cities

['Malang',
 'Banjarmasin',
 'Depok',
 'Yogyakarta',
 'Bandung',
 'Palembang',
 'Balik Papan']

In [37]:
for nama in cities:
    print(nama)
    print('-'*10)

Malang
----------
Banjarmasin
----------
Depok
----------
Yogyakarta
----------
Bandung
----------
Palembang
----------
Balik Papan
----------

In [39]:
range(0,10)

range(0, 10)

In [41]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
for var in range (1,11):
    print(f'5 x {var} = {5 * var}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [45]:
for i in range (1,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i * j}')
    print('-' * 20)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
--------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
--------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
--------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
--------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
--------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
--------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
--------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
--------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
--------------------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
--------------------

In [46]:
i = 1
j = 1

while i <= 10:
    print(f'perkalian {i}')
    while j <= 10:
        print(f'{i} x {j} = {i * j}')
        j = j + 1
    print('-' * 10)
    i = i + 1
    j = 1

perkalian 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
perkalian 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
perkalian 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
perkalian 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
perkalian 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
perkalian 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
perkalian 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
perkalian 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
perkalian 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
perkalian 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [47]:
cities

['Malang',
 'Banjarmasin',
 'Depok',
 'Yogyakarta',
 'Bandung',
 'Palembang',
 'Balik Papan']

### Control Flow Statement

##### Continue

In [49]:
i = 0 

while i <= 10:
    i = i + 1
    if i % 2 == 1:
        continue       # it will skip the ones below
    print(i)

2
4
6
8
10

In [51]:
i = 0 

while i <= 10:
    i = i + 1
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

#### Combination conditional and looping

In [85]:
skor = {'Rafif': 70, 'Fauzi': 80, 'Ali': 75, 'Danang': 55, 'Jonathan': 90, 'Rivaldi': 110}
nilai

110

In [65]:
skor.keys()

dict_keys(['Rafif', 'Fauzi', 'Ali', 'Danang', 'Jonathan', 'Rivaldi'])

In [66]:
skor.values()

dict_values([70, 80, 75, 55, 90, 110])

In [67]:
skor.items()

dict_items([('Rafif', 70), ('Fauzi', 80), ('Ali', 75), ('Danang', 55), ('Jonathan', 90), ('Rivaldi', 110)])

In [68]:
for nama, skor in skor.items():
    print(nama)
    print(skor)
    print('-' * 20)

Rafif
70
--------------------
Fauzi
80
--------------------
Ali
75
--------------------
Danang
55
--------------------
Jonathan
90
--------------------
Rivaldi
110
--------------------

In [84]:
grade = {}

for nama, nilai in skor.items():
    if 0 < nilai < 100:
        if nilai >= 80:
            grade[nama] = 'A'
        elif nilai >= 70:
            grade[nama] = 'B'
        elif  nilai >= 60:
            grade[nama] = 'C'
        elif nilai >= 40:
            grade[nama] = 'D'
        else:
            grade[nama] = 'E'
    else:
        grade[nama] = 'Error'

grade

{'Rafif': 'B',
 'Fauzi': 'A',
 'Ali': 'B',
 'Danang': 'D',
 'Jonathan': 'A',
 'Rivaldi': 'Error'}

In [76]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949]

In [87]:
index = numbers.index(918)
index

52

In [100]:
numbers[0]

951

In [106]:
i = 0

while i <= 52:
    if numbers[i] % 2 == 0:
        print(numbers[i])
        i = i + 1
    else:
        i = i + 1
        continue

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918