# Notebook Pertama
##### Test

In [1]:
print("Halo dari notebook")

Halo dari notebook

### Tipe Data dalam Python

In [6]:
5

5

In [10]:
print(type(5), type(5.0), type(True), type("Rule"))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [16]:
# contoh tipe data majemuk
(1, 5 , "Moris" , 3.5, True) # tuple
[1, 5 , "Moris" , 3.5, True] # list
{'name': 'Moris', 'usia': 18} #dictionary

{'name': 'Moris', 'usia': 18}

In [17]:
print(type((1, 5 , "Moris", 3.5 , True)))
print(type([1, 5 , "Moris", 3.5 , True]))
print(type({'name': 'Moris', 'usia': 18}))

<class 'tuple'>
<class 'list'>
<class 'dict'>

# Variable

In [20]:
x = 5
print(x)

5

In [21]:
x + 4

9

In [25]:
x = 2.0

In [23]:
x + 3

5

In [26]:
type(x)

float

In [27]:
name, usia = "Moris", 18
print(name, usia)

Moris 18

### String

In [28]:
my_string = "Moris";
my_string_2 = 'Moris';
type(my_string)

str

In [33]:
hari = "Jum'at"
print(hari)

Jum'at

In [42]:
quote = "'With great power comes great responsibility ~ (ben parker)";
print(quote);

'With great power comes great responsibility ~ (ben parker)

In [43]:
len(quote)

59

In [44]:
quote.upper()

"'WITH GREAT POWER COMES GREAT RESPONSIBILITY ~ (BEN PARKER)"

In [45]:
quote.lower()

"'with great power comes great responsibility ~ (ben parker)"

In [46]:
print(quote)

'With great power comes great responsibility ~ (ben parker)

In [47]:
quote = quote.upper()

In [48]:
quote

"'WITH GREAT POWER COMES GREAT RESPONSIBILITY ~ (BEN PARKER)"

In [49]:
'moris'.capitalize()

'Moris'

In [50]:
quote.title()

"'With Great Power Comes Great Responsibility ~ (Ben Parker)"

In [54]:
nama = 'Maxime'
usia = 23

print(f"Namanya {nama}, dan usianya {usia} tahun") # f-string

Namanya Maxime, dan usianya 23 tahun

slicing & indexing

In [57]:
nama = "Hacktiv8"
nama[5]

'i'

In [58]:
nama[-1]

'8'

In [59]:
# slicing
bootcamp = "HACKTIV8"

In [60]:
bootcamp[2:6:1]

'CKTI'

In [61]:
bootcamp[2:6:2]

'CT'

In [62]:
bootcamp[2:6]

'CKTI'

In [63]:
bootcamp[2:]

'CKTIV8'

In [64]:
bootcamp[:]

'HACKTIV8'

In [65]:
bootcamp[5:1:-1]

'ITKC'

Operasi

In [66]:
print(5 / 6) # pembagian

0.8333333333333334

In [67]:
print(5 // 6) # pempagian integer

0

In [69]:
print(5 % 6) # sisa bagi

5

In [70]:
print(5 ** 2) # pangkat

25

In [74]:
nama_depan = "Maurice"
nama_belakang = "Mak"

print(nama_depan + nama_belakang) # concatenation / pergabungan
print(nama_depan * 5)

MauriceMak
MauriceMauriceMauriceMauriceMaurice

In [79]:
# operasi perbandingan
print(5 == 3) # operasi sama dengan
print(5 != 3) # tidak sama dengan
print(5 < 3)
print(5 <= 3)
print(5 > 5)
print(5 >= 5)

False
True
False
False
False
True

In [80]:
hasil = 5 < 3
print(hasil)

False

In [77]:
a = 7 # assignment
a == 9 # comparisson

False

In [82]:
# operasi logika
True and True

True

In [85]:
nama = 'Maurice'

print('i' in nama)
print('m' in nama)

True
False

In [88]:
buah = ("Papaya", "Mangga", "Pisang", "Jambu")
print("mangga" in buah, "Mangga" in buah)

False True

### Tipe Data Majemuk

In [89]:
my_tuple = (4, 2 , "Hacktiv8", 5.4, True, (1, 2 ,3))

In [90]:
my_tuple[5]

(1, 2, 3)

In [91]:
my_tuple[5][0]

1

In [92]:
my_tuple[2][2:6]

'ckti'

In [93]:
my_tuple[2:5]

('Hacktiv8', 5.4, True)

In [94]:
len(my_tuple)

6

In [97]:
my_list = [4, 2 , "Hacktiv8", 5.4, True, (1, 2 ,3)]

In [98]:
my_list[2] = 'Maurice'

In [99]:
my_list

[4, 2, 'Maurice', 5.4, True, (1, 2, 3)]

In [101]:
# menambah data di belakang
my_list.append('Hacktiv8')
my_list

[4, 2, 'Maurice', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [102]:
my_list.insert(2, 46)

In [103]:
my_list

[4, 2, 46, 'Maurice', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [104]:
# hapus dari nilai
my_list.remove('Maurice')
my_list

[4, 2, 46, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [105]:
# hapus dari index
del my_list[2]
my_list

[4, 2, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [106]:
# dictionary
biodata = {'nama': 'Maurice', 'usia': 18}

In [107]:
biodata['nama']

'Maurice'

In [108]:
biodata.keys()

dict_keys(['nama', 'usia'])

In [109]:
biodata.values()

dict_values(['Maurice', 18])

In [110]:
biodata

{'nama': 'Maurice', 'usia': 18}

In [111]:
biodata['pekerjaan'] = "Data Scientist"
biodata

{'nama': 'Maurice', 'usia': 18, 'pekerjaan': 'Data Scientist'}